<p>bases works!</p>

<app-tablabases></app-tablabases>

<hr class="rounded">
<h4>Agregar</h4>
<form>
    <label for="fname">Direccion:</label><br>
    <input type="text" id="direccion" placeholder="Ingrese la direccion" name="direccion"><br>
</form> 

<button (click)="agregarBase()" id="agregar">agregar</button>

<hr class="rounded">
<h4>Eliminar</h4>
<form>
    <label for="fname">Numero</label><br>
    <input type="text" id="numero_direccion" placeholder="Ingrese la direccion" name="numero_direccion"><br>
</form> 


<button onclick="eliminarBase()" id="eliminar">eliminar</button>
  